{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
{{ parent() }}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row m-5">
   <div class="">
    <div class="card w-100 bg-dark text-white">
           <div class='card-header bg-secondary'> <h1 class="h3 mb-3 font-weight-normal text-center">Reset your password</h1> </div>
               <div class="card-body">
                   {{ form_start(requestForm, {'attr': {'class': 'w-75 mx-auto'}}) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Enter your email address and we we will send you a
                            link to reset your password.
                        </small>
                    </div>
                <div class='d-flex flex-column'>
                    <button class="btn btn-primary btn-block btn-lg w-50 mx-auto mt-3">Send password reset email</button>
                </div>
                {{ form_end(requestForm) }}
                  
                </div>
               </div>
           </div>
</div>
           </div>
    
{% endblock %}