{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="d-flex justify-content-center">
        <div class="card m-3" style="width: 30rem;">
            <div class='card-header'>
            {% if editMode %}
                            <h1>Modification d'un post</h1>
                        {% else %}
                            <h1>Création d'un post</h1>
                        {% endif %}
            </div>
            <div class="card-body d-flex justify-content-center">

                {{ form_start(formPost) }}
                <div class="form-group ">
                    {{ form_row(formPost.description, {'attr': {'placeholder': "Contenu du l'article", 'class': 'form-control w-100 mt-3'}, 'label_attr': {'class':'font-weight'} }) }}

                    <div id="desc-warns"></div>
                </div>
                {% if editMode %}
                            <div class="form-group ">
                    
                    <label>Prévoir la plannification</label>
                    <input type="checkbox" name="planif" value="planif" id="planif" checked>
                        <div id="date">
                            {{ form_row(formPost.date, {'attr': {'placeholder': "Date d'envoie", 'class': 'form-control w-100 mt-3'}, 'label_attr': {'class':'font-weight'}}) }}
                        </div>
                    </div>
                        {% else %}
                            <div class="form-group ">
                    
                            <label>Prévoir la plannification</label>
                            <input type="checkbox" name="planif" value="planif" id="planif">
                                <div style="display: none;" id="date">
                                    {{ form_row(formPost.date, {'attr': {'placeholder': "Date d'envoie", 'class': 'form-control w-100 mt-3'}, 'label_attr': {'class':'font-weight'}}) }}
                                </div>
                            </div>
                        {% endif %}
                
                    <div class="form-group ">
                        {{ form_row(formPost.image, {'attr': {'placeholder': "Lien de l'image", 'class': 'form-control w-100 mt-3'}, 'label_attr': {'class':'font-weight'}}) }}
                    </div>
                    <div class="form-group ">
                        {{ form_row(formPost.templatePost, {'attr': {'class': 'form-select w-100 mt-3'}, 'label_attr': {'class':'font-weight'}}) }}
                    </div>

                    <button id="trash" type="button">Retirer les photos</button>

                    <div id="image-list"></div>
                    <button type="submit" class="btn btn-primary mt-3">
                        {% if editMode %}
                            Enregistrer
                        {% else %}
                            Créer le post
                        {% endif %}
                    </button>
                    {{ form_end(formPost) }}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>


<!-- Modal -->
<div class="modal" id="artisteModal" tabindex="-1" aria-labelledby="twitterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="twitterModalLabel">Tag un utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input autocomplete="off" type="text" id="testinput" placeholder="Type 'a'">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save">Save changes</button>
      </div>
      
    </div>
  </div>
</div>

{% block javascripts %}
{{ encore_entry_script_tags('hiddenBlock') }}
{{ encore_entry_script_tags('countPost') }}
{{ encore_entry_script_tags('manageCreatePost') }}
{{ encore_entry_script_tags('postVerificator') }}
{% endblock %}
{% endblock %}
