{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
<article>
<h2>{{ post.socialMediaAccounts }}</h2>
<p>{{ post.description }}<p>
<imr src="{{ post.image }}" alt="">
<div>Ecrit le {{ post.date | date('d/m/Y') }}</div>
</article>
{% endblock %}